<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Muhammad Syamim</title>
  <script src="src/htmx.min.js"></script>
  <script defer src="animations/starfall.js"></script>
  <link rel="stylesheet" href="styles/dark-theme.css">
</head>

<body>
  <header class="navbar" hx-target="#page">
    <button hx-get="pages/home.html">Home</button>
    <button hx-get="pages/project.html">Projects</button>
    <button hx-get="pages/research.html">Research</button>
    <div class="tooltip" style="margin-left: auto;">
      <button id="starfall-icon" hx-on:click="toggleStarfall()"></button>
      <div class="tooltip-text">Toggle starfall</div>
    </div>
  </header>

  <div id="page" hx-trigger="load" hx-get="pages/home.html"></div>

  <footer>
    Built with HTMX. Source code accessible
    <a class="code-source" href="https://github.com/VOCOM/Landing-Page">here</a>.
  </footer>
</body>

</html>