<div class="project-container">
  <div class="project-card" hx-get="pages/projects/bss.html" hx-target="#page" hx-trigger="click">
    <div class="title">Book Sorting System</div>
    <img class="thumbnail" src="res/bss.jpg">
    <p>
      A proof of concept robotic system for storing, sorting & collection of books.
    </p>
  </div>

  <div class="project-card" hx-get="pages/projects/lite-kit.html" hx-target="#page" hx-trigger="click">
    <div class="title">Tele-operated land based locomotive</div>
    <img class="thumbnail" src="res/lite-kit-stm.jpg">
    <p>
      Platform sandbox for capability development.
    </p>
  </div>

  <div class="project-card" hx-get="pages/projects/kizuna.html" hx-target="#page" hx-trigger="click">
    <div class="title">Kizuna Project</div>
    <div style="display: flex; justify-content: center; gap: 10px;">
      <img src="res/ml.png" style="width: 45%; border-radius: 10px;">
      <img src="res/iot.png" style="width: 45%; border-radius: 10px;">
    </div>
    <p>
      Software hub for home IoT AI applications.
    </p>
  </div>

  <div class="project-card" hx-get="pages/projects/cryptic-code.html" hx-target="#page" hx-trigger="click">
    <div class="title">Cryptic Code</div>
    <div style="display: flex; justify-content: center; gap: 10px;">
      <img src="res/discord.png" style="width: 45%; border-radius: 10px;">
      <img src="res/dotnet.png" style="width: 45%; border-radius: 10px;">
    </div>
    <p>
      Discord multi-media bot built on Microsoft's .NET framework using a mix of C# & F#.
    </p>
  </div>

  <div class="project-card" hx-get="pages/projects/thermal-flow.html" hx-target="#page" hx-trigger="click">
    <div class="title">Thermal Flow</div>
    <img class="thumbnail" src="res/themoflow.jpg">
    <p>
      Peltier powered portable heat pump.
    </p>
  </div>
</div>