<div class="project-card" hx-get="pages/projects/bss.html" hx-target="#page" hx-trigger="click">
  <h1>Book Sorting System</h1>
  <img src="res/bss.jpg"><br>
  <p>
    A proof of concept robotic system for storing, sorting & collection of books.
  </p>
</div>

<div class="project-card" hx-get="pages/projects/lite-kit.html" hx-target="#page" hx-trigger="click">
  <h1>Tele-operated land based locomotive</h1>
  <img src="res/lite-kit-stm.jpg">
</div>

<div class="project-card" hx-get="pages/projects/kizuna.html" hx-target="#page" hx-trigger="click">
  <h1>Kizuna Project</h1>
</div>

<div class="project-card" hx-get="pages/projects/cryptic-code.html" hx-target="#page" hx-trigger="click">
  <h1>Cryptic Code</h1>
</div>

<div class="project-card" hx-get="pages/projects/thermal-flow.html" hx-target="#page" hx-trigger="click">
  <h1>Thermal Flow</h1>
  <img src="res/themoflow.jpg">
</div>