/* Globals */
:root {
  /** Base colors */
  --dark: #000000;
  --light: #ffffff;

  /* Primary colors */
  --primary-a0: #0080ff;
  --primary-a10: #4a8dff;
  --primary-a20: #6b9aff;
  --primary-a30: #85a8ff;
  --primary-a40: #9cb6ff;
  --primary-a50: #b2c4ff;

  /* Surface colors */
  --surface-a0: #121212;
  --surface-a10: #282828;
  --surface-a20: #3f3f3f;
  --surface-a30: #575757;
  --surface-a40: #717171;
  --surface-a50: #8b8b8b;

  /* Surface tones */
  --surface-tone-a0: #233050;
  --surface-tone-a10: #3a4462;
  --surface-tone-a20: #505974;
  --surface-tone-a30: #686e87;
  --surface-tone-a40: #7f859a;
  --surface-tone-a50: #989cad;

  /* Body */
  --body-margin: 0px;

  /* Navbar */
  --navbar-button-font-size: 22px;
  --navbar-button-margin: 10px;
  --navbar-button-min-width: 50px;
  --navbar-height: 50px;
  --navbar-padding: 5px;

  /* Project-Card */
  --project-container-gap: 10px;
  --project-card-border-radius: 10px;
  --project-card-padding: 10px;
}

html {
  color: var(--light);
  background: var(--dark);
}

body {
  margin: var(--body-margin);
}

/* Background Animation */
.star {
  width: 8px;
  height: 8px;
  background: #00d1b2;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
}

/* Tooltip Containers */
.tooltip {
  display: flex;
  flex-direction: column;
}

.tooltip-text {
  color: var(--light);
  background-color: var(--surface-tone-a40);
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  cursor: default;
  user-select: none;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
  animation-duration: 100ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Navigation bar */
.navbar {
  background: var(--surface-tone-a20);
  display: flex;
  position: fixed;
  padding: var(--navbar-padding);
  height: var(--navbar-height);
  width: calc(100% - 2*var(--navbar-padding));
}

.navbar button {
  border: none;
  background: none;
  color: var(--light);
  font-family: sans-serif;
  font-size: var(--navbar-button-font-size);
  cursor: pointer;
  padding: 0px;
  margin: 0px 5px;
  min-width: var(--navbar-button-min-width);
  height: var(--navbar-height);
}

#starfall-icon {
  background-color: lime;
  transform: scaleX(-1);
  mask: url(../res/falling-star-icon.svg);
  mask-repeat: no-repeat;
  aspect-ratio: calc(143/150);
}

/* Navigatable Page Body */
#page {
  font-family: sans-serif;
  padding-top: calc(var(--navbar-height) + 2*var(--navbar-padding));
}

/* Projects */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--project-container-gap);
  margin-top: 10px;
}

.project-card {
  border-radius: var(--project-card-border-radius);
  background: var(--surface-tone-a10);
  cursor: pointer;
  padding: var(--project-card-padding);
  min-width: 400px;
  width: calc(25% - 3*var(--project-container-gap));
}

.project-card .title {
  height: 3em;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5em;
}

.project-card .thumbnail {
  width: 100%;
}

.code-source {
  color: var(--light);
}

/* About */
footer {
  color: var(--light);
}